#root {
  width: 100%;
  margin: 0 auto;
  padding-top: 0.5em;
  text-align: center;
}

hr{
  width: 70%;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

img{
  width: 30%;
}

#main_navbar_container{
  display: flex;
  justify-content: center;
  background-color: rgb(35, 77, 131);

  text-align: center;

  width: 100%;
}

#main_navbar{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10vw;
  padding-right: 10vw;

  color:rgba(255, 255, 255);
  background-color: rgb(35, 77, 131);
}

#main_navbar:hover {
  background-color: rgb(255, 196, 0);
  color:black;
}

#page{
  padding-bottom: 4em;
}

#home_title{
  padding-bottom: 1em;
  margin: 1em auto;
}

#home_body{
  display:block;
}

#about_me{
  width: 60%;
  background-color: rgb(35, 77, 131);
  color:white;
  margin: 1em auto;
  padding: 1em;
  
}

#about_me hr{
  width: 90%;
}

#form{
  width: 60%;
  margin: 0 auto;
  
  background-color: rgb(35, 77, 131);
  color: white;
  padding: 1em;
  text-align: center
}

#form h2{
  text-align: center;
}

form{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto; 

  padding: 1em;
}

label {
  width: 100%; 
  text-align: center;
}

input{
  width: 100%;
  margin: 1em 0;
  box-sizing: border-box;
}

button {
  border-radius: 1em;
  border: 0.2em solid transparent;

  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;

  margin-top: 1em;

  background-color: rgb(255, 196, 0);
  color: black;

  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #3083ff;
}
button:focus,
button:focus-visible {
  outline: 1em auto -webkit-focus-ring-color;
}

#captcha {
  padding-top: 1em;
}

#footer {
  position: fixed; 
  bottom: 0;
  width: 100%;

  padding-top: 0.3em;
  padding-bottom: 0.3em;

  background-color: rgb(35, 77, 131);
  color: white;

  font-size: small;
}

#projects_page{
  padding-top: 5em;
}

#project_navbar_container{
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1em auto; 

  padding: 0.3em 0;

  background-color: rgba(0, 0, 0, 0.1);
}

#project_navbar{
  padding: 1em;

  color:rgba(255, 255, 255);
  background-color: rgb(35, 125, 185);

  width:8em;

  margin: 0 1em;
  border-radius: 0.5em;
}

#project_navbar:hover {
  background-color: rgb(255, 196, 0);
  color: black;
}

#project{
  display:flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(35, 77, 131);
  color:white;

  padding: 1em 0 1em 0;

  width: 50em;
  height: 15em;
  margin: 1em auto; 
  cursor: pointer;
  border-radius: 1em;
}

#project_titles{
  width:60%;
  text-align:left;
  padding: 0 1em 0 2em;
  height: 15em;
}

#project_titles h2{
  font-size: xx-large;
}

#project_image{
  align-items: center; /* Centers vertically */
  padding: 1em;
  width: 40%;
  height: 15em;
}

#project_image img{
  object-fit: contain;
  height:100%;
  width:90%;
}

#project:hover{
  background-color: rgb(41, 90, 153);
}

#popup_modal{
  background-color: rgb(41, 90, 153);
  padding: 1em 1em 2em 1em;
  border-radius: 2em;

  color: rgb(238, 238, 238);

  width: 40em;

  text-align: center;

  max-height: 80vh; 
  overflow-y: auto; 
}

#popup_modal h3{
  text-align: left;
}

#popup_modal a{
  color: white;
  font-style:italic;
}

#popup_modal a:hover{
  color: blue;
}

#pdf_container{
  width: 75%;
  height: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#mobile_only{
  display: none;
}

object{
  width: 100%;
  height: 100%;
}

/* For mobile view */
@media only screen and (max-width: 600px){
  img {
    width: 75vw;
  }

  h1{
    font-size: x-large;
    padding: 0 1em;
  }
  
  h2{
    font-size: large;
  }

  h3{
    padding: 0 0.5em;
  }

  #about_me{
    width: 70vw;
  }

  #form{
    width: 70vw;
  }

  #captcha {
    padding-top: 1em;
    transform:scale(0.75);
    transform-origin:0 0;
  }

  #project_navbar_container{
    width:100%;
    justify-content:space-around;
  }

  #project_navbar{
    margin: 0;
  }

  #project{
    flex-direction: column;

    width: 90%;
    height: 30vh;
  }

  #project_titles{
    width: 90%;
    height: 25%;
    text-align:center;
    padding: 0;
  }

  #project_titles h2{
    font-size: x-large;
  }

  #project_titles h3{
    display: none;
  }
  
  #project_image{
    align-items: center; /* Centers vertically */
    padding: 0;
    width: 90%;
    height: 70%;
  }
  
  #project_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  #project:hover{
    background-color: rgb(41, 90, 153);
  }

  #popup_modal{
    padding: 1em 1em 2em 1em;
    border-radius: 1em;
  
    width: 90vw;
  
    text-align: center;
  
    max-height: 80vh; 
    overflow-y: auto; 
  }
  
  #popup_modal h3{
    text-align: left;
    font-size: medium;
  }
  
  #popup_modal a{
    color: rgb(121, 217, 255);
    font-style:italic;
  }
  
  #popup_modal a:hover{
    color: blue;
  }

  #mobile_only{
    display: flex;
  }

  #desktop_only{
    display: none;
  }

  #pdf_container{
    display: none;
  }
}